@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

header,
main,
footer {
  @include grid-container;
  margin: 0 auto;
  max-width: $max-width;
}

.col-left,
.col-right,
.col-full,
.item {
  @include grid-column(12);
}
.col-left,
.col-right {
  text-align: left;
}
.col-full {
  text-align: center;
}

body.index {
  background: url("/assets/images/halftone.png");
  background-repeat: no-repeat;
  background-size: 100%;

  #footer {
    position: fixed;
    left: 20px;
    bottom: 5px;
    height: 30px;
    width: 100%;
  }
}
